@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  margin: 0;
  background-color: black;
  font-family: 'Limelight', cursive;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  place-items: center;
}

.movieSuggestions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.spot {
  display: grid;
  place-items: center;
}

.searchIcon {
  height: 200px;
  cursor: pointer;
  transition-duration: .25s;
}

.searchIcon:hover {
  height: 270px;
}

img {
  margin-top: 15px;
  border-width: 2px;
  border: solid;
  border-color: white;
}

h4 {
  margin: 0;
}

h3 {
  margin-bottom: 5px;
}

.form-control {
  margin: 20px 0;
  display: grid;
  place-items: center;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
