@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  margin: 0;
  background-color: black;
  font-family: 'Limelight', cursive;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  place-items: center;
}

.section {
  display: grid;
  place-items: center;
  margin: 25px;
}

.suggestions {
  border: solid;
  border-color: white;
  border-radius: 8px;
  padding: 10px;
}

.joinSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.movieSuggestions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.nomineeRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.nominee {
  display: grid;
  place-items: center;
  min-width: 350px;
}

.banner {
  display: grid;
  place-items: center;
  background-color: white;
  color: black;
  width: 100%;
  border: solid;
  border-radius: 8px;
  padding: 5px 0px;

}

.spot {
  display: grid;
  min-width: 225px;
  place-items: center;
  margin: 7px;
}

.searchIcon {
  position: relative;
  height: 200px;
  transition-duration: .25s;
  cursor:pointer;
}

.searchIcon:hover {
  height: 270px;
}

.spot .button {
  position: relative;
  top: 150%;
  font-size: 50px;
  z-index: 1;
  cursor: pointer;
}

img {
  margin-top: 15px;
  border-width: 2px;
  border: solid;
  border-color: white;
}

.mainTitle {
  font-size: 40px;
}

h4 {
  margin: 0;
}

h3 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 5px;
}

.form-control {
  margin: 5px 0;
  display: grid;
  place-items: center;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.container {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 270px;
  transition-duration: .25s;
}

.container:hover {
  position: relative;
  width: 100%;
  max-width: 340px;
}

.container img {
  width: 100%;
  height: auto;
}

/* .container .button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: #f1f1f1;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 90%;
  font-size: 80px;
} */

.searchButton {
  background-color: blue;
  padding: 12px 30px;
  margin-top: 0px;
}

.add-form {
  display: grid;
  place-items: center;
}

.submit {
  padding: 8px 40px 1px 40px;
  background-color: blue;
  cursor: pointer;
  font-size: 32px;
  border: solid;
  border-radius: 8px;
  border-color: white;
  margin-top: 2px;
  overflow:hidden;
  position:relative;
  transition-duration: .4s;
}

.submit:after {
  content: "";
  background: lightblue;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.submit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

h6 {
  margin: 0px;
}
